body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  header {
    background-color: #004080;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 2rem;
  }
  
  section {
    margin-bottom: 2rem;
    font-size: large;
  }
  
  footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 1rem;
  }
  .dark-mode {
    background-color: #121212;
    color: #f1f1f1;
  }
  
  .dark-mode a {
    color: #4eaaff;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: large;
    }